.main
  .main__top
    .main__top__box
      .main__top__group
        school
        .main__top__box__box
          member : かれん
      .main-top-right-box
        = link_to "Edit" ,"#"
  .main-content
    .post
      .next
        .poster
          かれん
        .date
          2020/01/05(Sun) 20:31:56
      .talk
        こんにちは
    .post
      .next
        .poster
          えり
        .date
          2020/01/05(Sun) 20:31:59
      .talk
        こんばんは
  .main-bottom
    .form-space
      .form-box
        .form-mini-box
          type a message
        .form-box-box
          %label.input-box__image
            %i.fas.fa-image
            .image
              %input{type: "file"}
      .form-btn
        = link_to "Send" ,"#"
