.side
  .side__top
    .side__top__box
      .name-box かれん
      .side-top-box-box
        =link_to "#", class: "side_top_box-box_btn" do
          = icon('fas', 'edit')
        =link_to "#", class: "side_top_box_box_btn" do
          = icon('fas', 'cog')
  .side-content
    .groups
      =link_to "#", class: "groups" do
        .group
          family
        .chat
          こんにちは
    .groups
      =link_to "#", class: "groups" do
        .group
          school
        .chat
          おはよう
    .groups
      =link_to "#", class: "groups" do
        .group
          office
        .chat
          お疲れ様