.side
  .side__top
    .side__top__box
      .name-box かれん
      .side-top-box-box
        %a.side_top_box_box_btn{:href => "#"}
          %i.fas.fa-edit
        %a.side_top_box_box_btn{:href => "#"}
          %i.fas.fa-cog
  .side-content
    .groups
      %a.groups{:href => "#"}
        .group
          family
        .chat
          こんにちは
    .groups
      %a{:href => "#"}
        .group
          school
        .chat
          おはよう
    .groups
      %a{:href => "#"}
        .group
          office
        .chat
          お疲れ様